# =========================
# Backend
# =========================
backend/.env
backend/db.sqlite3
backend/__pycache__/
backend/*/__pycache__/
backend/*.pyc
backend/media/
backend/staticfiles/
backend/venv/
backend/env/

# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.chrome-review-profile/
frontend/login-review.png

# =========================
# General
# =========================
.vscode/
.idea/
.DS_Store
*.log

__pycache__/
*.pyc
